<body>
  <br>
  <br>
  <div class="userWelcome">Welcome to Cumulus Chat, <span>{{username}}</span>!</div>
  <div class="messageBox">
    {{#if chats.length}}
    <div>
      {{#each chats as | chat |}} 
      <ul class="innerBox">
        <div class="messageHeader">{{chat.username}}<span class="messageTime">{{format_date chat.date_created}}</span></div>
        <p id="messages">{{chat.message}}</p>
      </ul> 
      {{/each}}
    </div>
    {{/if}}
  </div>

  <div class="input-group mb-3 messageInput">
  <input type="text" class="form-control" placeholder="Message" aria-label="Message" aria-describedby="basic-addon2" id="input">
    <div class="input-group-append">
     <button type="button">Send</button>
    </div>
  </div>

  <br>
  <a href='/'><button id="logout" type='submit'>Logout</button></a>


  {{!-- <script src="/socket.io/socket.io.js"></script>

  <script>
    var socket = io();

    var messages = document.getElementById('messages');
    var form = document.getElementById('form');
    var input = document.getElementById('input');

    form.addEventListener('submit', function(e) {
      e.preventDefault();
      if (input.value) {
        socket.emit('chat message', input.value);
        input.value = '';
      }
    });

    socket.on('chat message', function(msg) {
      var item = document.createElement('li');
      item.textContent = msg;
      messages.appendChild(item);
      window.scrollTo(0, document.body.scrollHeight);
    });
  </script> --}}
  </body>