<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Cumulus Chat </title>
    <!--home page-->
    <link
      href='https://fonts.googleapis.com/css?family=Baloo+2:400,800&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='../public/css/style.css' />
    <!--fix relative path-->
  </head>

  <body>

  </body>
</html>