/* main */
a {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  font-size: 50pt;
}

body {
  background-color: rgb(15, 31, 83);
  margin-top: 20px;
  font-family: 'Baloo 2', cursive;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

Button {
  background-color: #53ceff;
  border-radius: 10px;
  border-style: solid;
  border-color: #53ceff;
  font-size: 20px;
  color: #ffffff;
  padding: 0px 10px;
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 5px 5px;
}

button:hover {
  background-color: #53ceff;
}

button:active {
  background-color: #53ceff;
  transform: translateY(2px);
}

.mainBody {
  margin-top: 30px;
}

.centerDiv {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logoutButton {
  background-color: #53ceff;
  box-shadow: 10px 10px #f0fb56;
  border-radius: 10px;
  border-style: solid;
  border-color: #53ceff;
  font-size: 20px;
  color: #ffffff;
  padding: 0px 10px;
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 5px 5px;
}

/* main end */

/* login page */
.loginBody {
  margin-top: 30px;
  place-items: center;
  font: 2vw system-ui;
  background-color: #354588;
  border-radius: 20px;
  font-family: 'Baloo 2', cursive;
}

.flowButton {
  background-color: #53ceff;
  box-shadow: 10px 10px #f0fb56;
  border-radius: 20px;
  font-size: 20px;
  color: #ffffff;
  padding: 0px 40px;
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
  letter-spacing: 3px;
  mix-blend-mode: multiply;
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
}

.cloud {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 35px;
  color: #b79ef1;
  background-color: #52ceff;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  box-shadow: 10px 15px #f0fb56;
  font-family: 'Baloo 2', cursive;
}

.cloud:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: '.';
  font-weight: bold;
  -webkit-text-fill-color: #53ceff;
  text-shadow: 22px 22px #f0fb56;
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: #53ceff;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 10px 15px #f0fb56;
  z-index: -2;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-10px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}
/*login page end */

/* chat page */
.userWelcome {
  background-color: #53ceff;
  box-shadow: 10px 10px #f0fb56;
  color: #1c2d79;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.userWelcome span {
  color: #2d65ff;
  font-weight: 700;
  text-transform: uppercase;
}

.messageBox {
  background-color: #8cdeff;
  box-shadow: 10px 10px #354588;
  height: 400px;
  margin: 20px auto 20px auto;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.messageList{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.innerBox {
  background-color: #f0fb56;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 0px;
}

.messageUsername {
  text-transform: uppercase;
}

.messageInput {
  background-color: #52ceff;
  box-shadow: 10px 10px #354588;
  border-radius: 10px;
}

.messageTime {
  font-size: 12px;
  padding: 0px 5px;
}

.messageHeader {
  font-size: 20px;
  color: #000000;
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 20px;
  left: 20%;
  right: 20%;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
}
#messages > li {
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: #efefef;
}

/* chat page end */
